

    /** global(s) **/
    html, body {
        height:             100%;
        width:              100%;
        font-family:        'Orbitron', sans-serif;
        background-color:    white;
    }


    /** loading -- start **/

        /** loading -- state -- load **/

            #loading {
                position:           fixed;
                top:                50%;
                transform:          translate(0, -50%);
                width:              100%;
                transition:         3s;
            }

            #loading #top {
                margin:             0 auto;
                font-size:          12px;
                width:              350px;
                padding:            10px;
                transition:         4s;
            }

            #loading #top #title {
                display:            inline-block;
            }

            #loading #top #delay {
                display:            inline-block;
                float:              right;
            }

            #loading #bar {
                margin:             auto;
                background-color:   #222;
                height:             3px;
                width:              100%;
                background-color:   white;
                border:             1px solid;
                transition:         2s;
            }

            #loading #bar #percent {
                height:             3px;
                width:              100%;
                background-color:   black;
                transition:         2s;
            }

            #loading #bottom {
                padding:            10px;
                margin:             0 auto;
                font-size:          12px;
                width:              350px;
                transition:         4s;
            }

            #loading #bottom #url {
                display:            inline-block;
                float:              left;
            }

        /** loading -- state -- load -- end **/

        /** loading -- state -- hover **/

            #loading:hover #top {
                width:              60%;
            }

            #loading:hover #bar {
                background-color:   white;
                width:              60%;
                height:             40px;
            }

            #loading:hover #bar #percent {
                margin:             5px;
                height:             30px;
            }

            #loading:hover #bottom {
                width:              60%;
            }

        /** loading -- state -- hover -- end **/

    /** loading -- end **/


    /** animation -- loading **/
    @keyframes loading {
        0%      {
                    width:      0%;
                    background: red;
                }
        25%     {
                    background: yellow;
                }
        75%     {
                    background: green;
                }
        100%    {
                    width:      99%;
                }
    }


